/vendor
/node_modules
/public/storage
/storage/*.key
/storage/pail

.env.backup
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/public/hot
/public/build
/.fleet
/.idea
/.vscode

# Typesense binaries
typesense-server
typesense-server-*.deb
typesense-server-*.tar.gz
typesense-server-*.tar.gz.*
typesense-server.md5.txt
typesense/data/
data/
config.bat
